.App {
  text-align: center;
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Red Hat Display';
}

.App-header p{
  margin-top:50px;
  color:rgb(213, 255, 128);
}


.App-header .shadow-main {
  font-weight: bold;
  font-size: 3rem;
  transition: all 0.5s ease-in-out;
}


.App-header .shadow-main:hover {
  text-shadow: 10px 10px 2px rgb(88, 92, 88);
  cursor:default;
}


.App-main {
  background-color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Red Hat Display';
  min-height: 30vh;
}

.App-main .creator-options{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}

.App-main .creator-options li{
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
  background-color: black;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.App-main .creator-options li a {
  display: block;
  padding: 1rem 2rem;
  color: black !important;
  background-color:rgb(213, 255, 128) !important;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  border-radius: 40px;
}

.App-main .creator-options li:hover {
  background-color: black;
  transform: scale(1.1);
}

.App-main .creator-options li a {
  text-decoration: none;
  color:rgb(213, 255, 128);
  transition: all 0.4s ease-in-out;
}


.App-main .creator-options li:hover a {
  color: black !important; 
}


/* FOOTER */
.App-footer {
  min-height: 43vh;
  font-family: 'Red Hat Display';
  background: url(../Background/gradient.jpg) no-repeat center center;
  background-size: cover;
}