.gameplay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: black;
    font-family: 'Red Hat Display';
    height: 80vh;
    position: relative;
}

.gameplay-container h1 {
    color: #629b57;
    position: absolute;
    top: 3%;
}

.quiz-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: rgb(81, 99, 79);
    position: absolute;
    bottom: 10px;
    right: 60px;
}



.quiz-section p {
    font-size: 2.5em;
    color: rgb(163, 228, 137);
    margin-bottom: 40px;
    text-align: center;;

}

.answer-options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 60px);
    gap: 30px;
    max-width: 600px;
    margin: 0 auto;
}

.answer-options button{
    font-family: 'Red Hat Display';
    font-size: 1.5em;
    padding: 10px;
    border-radius:50px;
    background-color: black;
    border: 2px solid rgb(163, 228, 137);
    color: rgb(163, 228, 137);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.answer-options button:hover {
    box-shadow: 0 0 30px greenyellow;
}

.results-section {
    text-align: center;
}

.results-section h2 {
    font-size: 4.5rem;
    margin-bottom: 15px;
    color: rgb(163, 228, 137);
}

.results-section a{
    text-decoration: none;
    color: black;
    background-color: rgb(163, 228, 137);
    padding: 10px 20px;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    bottom: 10%;
    right: 45%;
}

.results-section a:hover {
    transform:scale(1.1);
}

.Game-footer{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../Background/green_grid.jpg) no-repeat center;
    background-size: cover;
    height: 20vh;
}

